@import '_base.scss';

/* settings */
$header-back-color: #b22222;
$header-font-color: #ffffff;
$main-back-color: #f1f1f1;
$aticle-back-color: #ffffff;
$accent-color: #4682b4;
$sub1-color: #ffffff;
$sub2-color: #ffffff;
$font-main-color: #333333;

/* Override */
body {
  background-color: $main-back-color;
  color: $font-main-color;
}

.navbar {
  border-radius: 0;
}

.page-header {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding: 1rem 0;
  h1 {
    margin: 0;
  }
}

.navbar-default {
  background-color: $header-back-color;
  border-color: $header-back-color;
  .navbar-brand {
    color: $header-font-color;
  }
}

/* Layouts */
.l-header {
  font-size: .8rem;
}

.l-footer {
  font-size: .8rem;
  padding: 1.5rem 0;
  color: #999;
}

/* Parts:facts */
.p-facts {
  list-style: none;
  margin-bottom: .5rem;
  li {
    display: inline;
    font-size: .8rem;
    margin-right: .5rem;
    i {
      margin-right: .5rem;
      color: #999;
    }
  }
}

/* Parts:facts */
.p-crumb {
  font-size: .8rem;
  margin-bottom: 1.5rem;
  ol {
    margin-bottom: 0;
  }
}

/* Parts:terms */
.p-terms {
  list-style: none;
  li {
    display: inline-block;
    &::after {
      content: ',';
    }
    &:last-child::after {
      content: '';
    }
  }
}

/* Parts:section */
section {
  font-size: .8rem;
  &>header {
    margin-bottom: .5rem;
    font-weight: 500;
  }
  &.bordered {
    border-top: 1px solid #eee;
    padding: 1rem 0;
  }
}

/* Parts:breadcrumb */
.breadcrumb {
  background-color: $aticle-back-color;
}

/* Parts:article */
.p-articles {
  list-style: none;
  &>li {
    margin-bottom: 2.5rem;
  }
  &.bordered>li {
    border-bottom: 1px solid #eee;
    margin-bottom: .5rem;
    &:last-child {
      border-bottom: none;
    }
  }
}

article {
  background-color: $aticle-back-color;
  .title {
    margin: 0;
    margin-bottom: .5rem;
  }
  .thumb {
    display: block;
    background-position: center;
    background-size: cover;
  }
  &>header {
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
  }
  .summary {
    margin-bottom: .5rem;
  }
  &.single {
    .thumb {
      height: 18rem;
    }
  }
  @media (max-width:  768px)  {
    &.single .thumb {
      height: 12rem;
    }
  }
  &.li .thumb {
    float: right;
    width: 12rem;
    height: 7.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  &.li.sm>header {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.article-body {
  h2 {
    padding: 1rem 0;
    border-bottom: 2px solid #eceff1;
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    color: $accent-color;
  }
  h4 {
    border-left: solid .25rem $accent-color;
    padding: 0 .5rem;
  }
  p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
  }
  a {
    text-decoration: underline;
  }
  ul,
  ol {
    padding-left: 1.5rem;
  }
  code {
    display: inline-block;
    font-family: Menlo, consolas, monospace;
    font-size: .8rem;
    padding: 0 .5rem;
    line-height: 1.5rem;
  }
  pre {
    margin: 1.5rem 0;
    padding: 0;
    font-size: .8rem;
    border: none;
    border-radius: 0;
  }
  pre code {
    display: block;
    line-height: 1rem;
    padding: 1rem;
  }
  blockquote {
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: .8rem;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    color: #607d8b;
  }
  blockquote p {
    margin: .5rem 0;
    line-height: 1rem;
  }
  strong {
    box-shadow: 0 -.5rem 0 0 #5bc0de inset;
  }
  em {
    font-style: normal;
    font-weight: 700;
    color: $accent-color;
  }
  figure { margin: 1.5rem 0; }
  figure.left,
  figure.right {
    width: 15rem;
    height: 12rem;
    margin-top: 0;
  }
  figure.left {
    float: left;
    margin-right: 1rem;
  }
  figure.right {
    float: right;
    margin-left: 1rem;
  }
  @media (max-width: 768px) {
    figure.left,
    figure.right {
      float: none;
      margin: 0;
      width: auto;
      height: auto;
    }
  }
  figcaption {
    padding: .5rem 0;
    font-size: .8rem;
    text-align: center;
  }
  figcaption a {
    color: #263238;
  }
}











